

@{
    Layout = null;
}

@using System.Threading
@using Abp.Timing
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>后台登陆</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/metronic/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/metronic/assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/metronic/assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <!-- 第三方扩展 -->
    <link href="~/metronic/assets/global/plugins/commonPlugins/bootstrap-toastr/toastr.css" rel="stylesheet" />
    <link href="~/metronic/assets/global/plugins/commonPlugins/sweetalert/sweet-alert.css" rel="stylesheet" />

    <!-- 自定义layout样式 -->
    <link href="~/metronic/assets/admin/css/login.css" rel="stylesheet" />
</head>
<!-- END HEAD -->
<body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <h1 class="form-title font-green">BeiDream后台框架</h1>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->

        <form class="form-horizontal" role="form" action="@Url.Action("Login")?returnUrl=@ViewBag.ReturnUrl">
            <h3 class="form-title font-green">登 陆</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span>
                    <i class="fa fa-warning"></i>用户名密码错误
                </span>
            </div>
            <div class="form-group has-success">
                <label for="usernameOrEmailAddress" class="col-md-3 control-label visible-ie8 visible-ie9">用户名</label>
                <div class="col-md-12">
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input type="text" class="form-control" id="usernameOrEmailAddress" placeholder="用户名" name="usernameOrEmailAddress">
                    </div>
                </div>
            </div>
            <div class="form-group has-success">
                <label for="password" class="col-md-3 control-label visible-ie8 visible-ie9">密码</label>
                <div class="col-md-12">
                    <div class="input-icon">
                        <i class="fa fa-lock fa-fw"></i>
                        <input type="password" class="form-control" id="password" placeholder="密码" name="password">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="vCode" class="col-md-3 control-label visible-ie8 visible-ie9">验证码</label>
                <div class="col-md-5">
                    <input type="password" class="form-control" id="vCode" placeholder="验证码" name="vCode">
                </div>
                <div class="col-md-5">
                    <div class="input-icon">
                        <i class="fa fa-lock fa-fw"></i>
                        <input type="password" class="form-control" id="inputCode11" placeholder="验证码">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn green uppercase">登陆</button>
                <label class="rememberme check mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1" />记住我
                    <span></span>
                </label>
            </div>
            <div class="create-account">
                <p>
                    <a href="javascript:;" id="forget-password" class="uppercase">忘记密码</a>
                </p>
            </div>
        </form>
        <!-- END LOGIN FORM -->
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3 class="font-green">忘记密码 ?</h3>
            <p> 请输入您的邮箱地址,用于重置您的密码. </p>
            <div class="form-group">
                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="邮箱" name="email" />
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn green btn-outline">返回</button>
                <button type="submit" class="btn btn-success uppercase pull-right">提交</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->
    </div>
    <div class="copyright"> 2016 © BeiDream. Admin 悲梦. </div>
    <!--[if lt IE 9]>
    <script src="~/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="~/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/metronic/assets/global/scripts/app.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/metronic/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <!-- 第三方组件(界面展示) -->
    <!-- 加载动画组件 -->
    <script src="~/metronic/assets/global/plugins/commonPlugins/spinjs/spin.js"></script>
    <script src="~/metronic/assets/global/plugins/commonPlugins/spinjs/jquery.spin.js"></script>
    <!--右下角消息提示组件 -->
    <script src="~/metronic/assets/global/plugins/commonPlugins/bootstrap-toastr/toastr.js"></script>
    <!-- 弹出消息提示组件 -->
    <script src="~/metronic/assets/global/plugins/commonPlugins/sweetalert/sweet-alert.js"></script>
    <!-- 实现动态的背景图片 -->
    <script src="~/metronic/assets/global/plugins/commonPlugins/backstretch/jquery.backstretch.js"></script>
    <script src="~/metronic/assets/global/plugins/commonPlugins/jquery-validation/js/jquery.validate.js"></script>
    <script src="~/metronic/assets/global/plugins/commonPlugins/jquery-validation/js/localization/messages_zh.js"></script>

    <!-- 第三方插件(扩展方法及函数) -->
    <script src="~/Scripts/plugins/underscore/underscore.js"></script>
    <!-- 日期操作扩展组件 -->
    <script src="~/Scripts/plugins/moment/moment-with-locales.js"></script>

    <!-- 自定义扩展 -->
    <script src="~/Scripts/abputil/abp.js"></script>
    <script>
        //abp.localization.defaultSourceName = "BeiDream";  //设置默认的本地化资源名称(多语言项目需要)
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name'); //设置moment本地化
    </script>

    <script src="~/Scripts/abputil/abp.jquery.js"></script>
    <script src="~/Scripts/abputil/abp.blockUI.js"></script>
    <script src="~/Scripts/abputil/abp.spin.js"></script>
    <script src="~/Scripts/abputil/abp.sweet-alert.js"></script>
    <script src="~/Scripts/abputil/abp.toastr.js"></script>

    <script src="~/Scripts/util/consts.js"></script>
    <script src="~/Scripts/util/helpers.js"></script>
    <script src="~/Scripts/util/ModalManager.js"></script>



    <!-- 后端动态生成使用js-->
    <script src="~/api/AbpServiceProxies/GetAll"></script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="~/Areas/Admin/Views/Account/login.js"></script>

</body>
</html>
