@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()

    @RenderSection("Scripts", false)
</body>
</html>