<h3 class="page-title">
    Blank Page Layout
    <small>blank page layout</small>
</h3>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="#">Blank Page</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>Page Layouts</span>
        </li>
    </ul>
</div>
<div class="note note-info">
    <p> A black page template with a minimal dependency assets to use as a base for any custom page you create </p>
</div>
