@model BeiDream.PnSpa.Areas.Admin.Models.Layout.PageMenuViewModel
<ul>
    <li class="active"><a href="@Url.Action("AdminLayout", "Layout", new { area = "Admin", activePageMenu = "MenuReply" })"><i class="fa fa-apple"></i>菜单回复</a></li>
    <li><a href="@Url.Action("AdminLayout", "Layout", new { area = "Admin", activePageMenu = "MicroSite" })"><i class="fa fa-apple"></i>微网站</a></li>
    <li><a href="@Url.Action("AdminLayout", "Layout", new { area = "Admin", activePageMenu = "SysManage" })"><i class="fa fa-apple"></i>系统管理</a></li>
</ul>
