@section head {
    <style>
        th {
            text-align: center;
        }
    </style>
}
<h2>角色管理</h2>
<button type="button" class="btn btn-success">（成功）Success</button>


@section Scripts {

}