@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @ViewBag.Title    MetronicMpa(Metronic风格)
    </div>
</body>
</html>