@section head {
    <style type="text/css">
        /*.dataTables_wrapper .dataTables_paginate .paginate_button {
            display: inline;
        }*/
    </style>
}
@section PageBar {
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Dashboard", new { area = "Admin", activePageMenu ="SysManage"})">系统管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>用户管理</span>
        </li>
    </ul>
</div>
}
@section Scripts {
<script>
    $(function () {
        var userTable = $('#area').DataTable({
            "ajax": {
                "url": "@Url.Action("GetUserDatas", "Users")",
                "data": function (data) {
                    data.Name = $("#name").val();//此处是添加额外的请求参数
                    return JSON.stringify(data);
                }
            }
        });
        userTable.on('init.dt', function () {
            $(".pagination li").removeClass("paginate_button");
        });
        userTable.on('draw.dt', function () {
            $(".pagination li").removeClass("paginate_button");
        });
    });
</script>
}

<!-- Begin: life time stats -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">查询条件</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <button type="submit" class="btn blue">
                    <i class="fa fa-search"></i>
                    查询
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <!-- BEGIN FORM-->
        <form id="formSearch" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-1" for="txt_title">用户名</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txt_title">
                </div>
                <label class="control-label col-md-1" for="txt_subtitle">副标题</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txt_subtitle">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="txt_author">作者</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txt_author">
                </div>
            </div>
        </form>
        <!-- END FORM-->
</div>
</div>      
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <button id="sample_editable_1_new" class="btn sbold green">
                            <i class="fa fa-plus"></i>
                            新增用户
                        </button>
                        <button id="sample_editable_2_new" class="btn sbold blue">
                            <i class="fa fa-pencil"></i>
                            修改用户
                        </button>
                        <button id="sample_editable_3_new" class="btn sbold red">
                            <i class="fa fa-remove"></i>
                            删除用户
                        </button>
                        <button id="sample_editable_4_new" class="btn sbold yellow">
                            <i class="fa fa-server"></i>
                            详细信息
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn blue">
                            <i class="fa fa-refresh"></i>
                            刷新
                        </button>
                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            工具
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-print"></i>打印
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i>Execl数据导入
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-excel-o"></i> 导出到Execl
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>       
        <div class="table-container">
            <table id="area" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" data-order="[[0,&quot;desc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="Id" data-visible="false">Id</th>
                        <th data-data="Name">名称</th>
                        <th data-data="Surname" data-orderable="false">描述</th>
                        <th data-data="UserName">X坐标</th>
                        <th data-data="EmailAddress">Y坐标</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- End: life time stats -->


