@section head {
<link href="~/metronic/assets/global/plugins/commonPlugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
}
@section PageBar {
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Dashboard", new { area = "Admin", activePageMenu ="SysManage"})">系统管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>用户管理</span>
        </li>
    </ul>
</div>
}
@section Scripts {
<script src="~/metronic/assets/global/plugins/commonPlugins/bootstrap-daterangepicker/daterangepicker.js"></script>
<script>
    $(function () {
        moment.locale('zh-CN'); //设置当前语言环境为中文
        var todayAsString = moment().format('YYYY-MM-DD');
        var selectedDateRange = {
            StartCreateTime: todayAsString,
            EndCreateTime: todayAsString
        };

        $('input.date-range-picker').daterangepicker(
            $.extend(true, app.createDateRangePickerOptions(), selectedDateRange),
            function (start, end, label) {
                selectedDateRange.StartCreateTime = start.format('YYYY-MM-DD');
                selectedDateRange.EndCreateTime = end.format('YYYY-MM-DD');
            });
        var userTable = $('#area').DataTable({
            "ajax": {
                "url": "@Url.Action("GetUserDatas", "Users")",
                "data": function (data) {
                    data.UserName = $("#txtUserName").val();//此处是添加额外的请求参数
                    data = $.extend(data, selectedDateRange);
                    return JSON.stringify(data);
                }
            },
            "columnDefs": [{
                "targets": 1,
                "width": "15px",
                render: function (data, type, full, meta) {
                    return '<input type="checkbox" id="checkbox-all-' + full.Id + '" value="' + full.Id + '" />';
                }
            },
            {
                "targets": 5,
                render: function (data, type, full, meta) {
                    if (full.lastLoginTime) {
                        return moment(full.lastLoginTime).format('L');
                    }

                    return '-';
                }
            },
            {
                "targets": 6,
                render: function (data, type, full, meta) {
                    return moment(full.creationTime).format('L');
                }
            },
            {
                "targets": -1,
                "width": "100px",
                render: function (data, type, full, meta) {
                    var $span = $('<span></span>');
                    $('<button class="btn btn-default btn-xs" title="编辑"><i class="fa fa-edit"></i></button>')
                    .appendTo($span)
                    .click(function () {
                        alert("编辑");
                    });
                    $('<button class="btn btn-default btn-xs" title="删除"><i class="fa fa-trash-o"></i></button>')
                    .appendTo($span)
                    .click(function () {
                        alert("删除");
                    });
                    return $span.html();
                }
            }]
        });
        userTable.on('init.dt', function () {
            $(".pagination li").removeClass("paginate_button");
        });
        userTable.on('draw.dt', function () {
            $(".pagination li").removeClass("paginate_button");
        });
        $("#btnSearch").click(function () {
            userTable.ajax.reload();
        });
    });
</script>
}

<!-- Begin: life time stats -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">查询条件</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <button type="submit" class="btn blue" id="btnSearch">
                    <i class="fa fa-search"></i>
                    查询
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <!-- BEGIN FORM-->
        <form id="formSearch" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-1" for="txtUserName">用户名</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txtUserName">
                </div>
                <label class="control-label col-md-2" for="dateRange">创建时间范围</label>
                <div class="col-md-3">
                    <input type="text" class="form-control date-range-picker" id="dateRange" />
                </div>
            </div>
        </form>
        <!-- END FORM-->
</div>
</div>      
<div class="portlet light portlet-fit portlet-datatable">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <button id="sample_editable_1_new" class="btn sbold green">
                            <i class="fa fa-plus"></i>
                            新增用户
                        </button>
                        <button id="sample_editable_2_new" class="btn sbold blue">
                            <i class="fa fa-pencil"></i>
                            修改用户
                        </button>
                        <button id="sample_editable_3_new" class="btn sbold red">
                            <i class="fa fa-remove"></i>
                            删除用户
                        </button>
                        <button id="sample_editable_4_new" class="btn sbold yellow">
                            <i class="fa fa-server"></i>
                            详细信息
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn blue">
                            <i class="fa fa-refresh"></i>
                            刷新
                        </button>
                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            工具
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-print"></i>打印
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i>Execl数据导入
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-excel-o"></i> 导出到Execl
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-container">
            <table id="area" class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" data-order="[[0,&quot;desc&quot;]]" width="100%">
                <thead>
                    <tr>
                        <th data-data="Id" data-visible="false">Id</th>
                        <th data-orderable="false"><input type="checkbox" id="checkbox-all" /></th>
                        <th data-data="UserName">用户名</th>
                        <th data-data="Name">姓名</th>
                        <th data-data="EmailAddress" data-orderable="false">邮箱地址</th>
                        <th data-data="LastLoginTime">上次登录时间</th>
                        <th data-data="CreationTime">创建时间</th>
                        <th data-orderable="false">操作</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
<!-- End: life time stats -->


