@section head { 

}
@section PageBar {
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Dashboard", new { area = "Admin", activePageMenu ="SysManage"})">系统管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>用户管理</span>
        </li>
    </ul>
</div>
}
@section Scripts {
    <script src="~/Areas/SysManage/Views/Users/table-datatables-ajax.js"></script>
}

<!-- Begin: life time stats -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">查询条件</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <button type="submit" class="btn blue">
                    <i class="fa fa-search"></i>
                    查询
                </button>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <!-- BEGIN FORM-->
        <form id="formSearch" class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-1" for="txt_title">用户名</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txt_title">
                </div>
                <label class="control-label col-md-1" for="txt_subtitle">副标题</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txt_subtitle">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-1" for="txt_author">作者</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" id="txt_author">
                </div>
            </div>
        </form>
        <!-- END FORM-->
</div>
</div>      
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <button id="sample_editable_1_new" class="btn sbold green">
                            <i class="fa fa-plus"></i>
                            新增用户
                        </button>
                        <button id="sample_editable_2_new" class="btn sbold blue">
                            <i class="fa fa-pencil"></i>
                            修改用户
                        </button>
                        <button id="sample_editable_3_new" class="btn sbold red">
                            <i class="fa fa-remove"></i>
                            删除用户
                        </button>
                        <button id="sample_editable_4_new" class="btn sbold yellow">
                            <i class="fa fa-server"></i>
                            详细信息
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <button class="btn blue">
                            <i class="fa fa-refresh"></i>
                            刷新
                        </button>
                        <button class="btn green  btn-outline dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            工具
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-print"></i>打印
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i>Execl数据导入
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-excel-o"></i> 导出到Execl
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>       
        <div class="table-container">
            <div id="sample_3_wrapper" class="dataTables_wrapper no-footer">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="dataTables_length" id="sample_3_length">
                            <label>
                                Show
                                <select name="sample_3_length" aria-controls="sample_3" class="form-control input-sm input-xsmall input-inline">
                                    <option value="6">6</option>
                                    <option value="15">15</option>
                                    <option value="20">20</option>
                                    <option value="-1">All</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div id="sample_3_filter" class="dataTables_filter">
                            <label>Search:
                                <input type="search" class="form-control input-sm input-small input-inline" placeholder="" aria-controls="sample_3">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <table class="table table-striped table-bordered table-hover table-checkable order-column dataTable no-footer" id="sample_3" role="grid" aria-describedby="sample_3_info">
                        <thead>
                        <tr role="row">
                            <th class="table-checkbox sorting_disabled" rowspan="1" colspan="1" aria-label="
                                                " style="width: 63px;">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="group-checkable" data-set="#sample_3 .checkboxes">
                                    <span></span>
                                </label>
                            </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-sort="ascending" aria-label=" Username : activate to sort column descending" style="width: 137px;"> Username </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Email : activate to sort column ascending" style="width: 209px;"> Email </th>
                            <th class="sorting" tabindex="0" aria-controls="sample_3" rowspan="1" colspan="1" aria-label=" Status : activate to sort column ascending" style="width: 109px;"> Status </th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="row">                   
                    <div class="col-md-5 col-sm-5">
                        <div class="dataTables_info" id="sample_3_info" role="status" aria-live="polite">Showing 1 to 6 of 12 records</div>
                    </div>
                    <div class="col-md-7 col-sm-7">
                        <div class="dataTables_paginate paging_bootstrap_number" id="sample_3_paginate">
                            <ul class="pagination" style="visibility: visible;">
                                <li class="prev disabled"><a href="#" title="Prev"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li class="next"><a href="#" title="Next"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End: life time stats -->


