@section head { 

}
@section PageTitle {
<h3 class="page-title">
    用户管理
    <small>用户管理</small>
</h3>
}
@section PageBar {
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="@Url.Action("Index", "Dashboard", new { area = "Admin", activePageMenu ="SysManage"})">系统管理</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <span>用户管理</span>
        </li>
    </ul>
</div>
}
@section Scripts {
    <script src="~/Areas/SysManage/Views/Users/table-datatables-ajax.js"></script>
}

<!-- Begin: life time stats -->
<div class="portlet light portlet-fit portlet-datatable ">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon-settings font-dark"></i>
            <span class="caption-subject font-dark sbold uppercase">用户信息管理</span>
        </div>
        <div class="actions">
            <div class="btn-group btn-group-devided" data-toggle="buttons">
                <label class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm active">
                    <input type="radio" name="options" class="toggle" id="option1">操作
                </label>
                <label class="btn btn-transparent grey-salsa btn-outline btn-circle btn-sm">
                    <input type="radio" name="options" class="toggle" id="option2">设置
                </label>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-toolbar">
            <div class="row">
                <div class="col-md-12">
                    <div class="portlet box green">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-gift"></i>查询条件
                            </div>
                        </div>
                        <div class="portlet-body form">
                            <!-- BEGIN FORM-->
                            <form action="#">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label class="control-label">Text</label>
                                        <input type="text" class="form-control" placeholder="Enter text">
                                        <span class="help-block"> A block of help text. </span>
                                    </div>
                                </div>
                                <div class="form-actions right">
                                    <button type="submit" class="btn green">查询</button>
                                </div>
                            </form>
                            <!-- END FORM-->
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <button id="sample_editable_1_new" class="btn sbold green">
                            <i class="fa fa-plus"></i>
                            新增用户
                        </button>
                        <button id="sample_editable_2_new" class="btn sbold blue">
                            <i class="fa fa-pencil"></i>
                            修改用户
                        </button>
                        <button id="sample_editable_3_new" class="btn sbold red">
                            <i class="fa fa-remove"></i>
                            删除用户
                        </button>
                        <button id="sample_editable_4_new" class="btn sbold yellow">
                            <i class="fa fa-server"></i>
                            详细信息
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="btn-group pull-right">
                        <a class="btn green btn-outline btn-circle" href="javascript:;" data-toggle="dropdown">
                            <i class="fa fa-share"></i>
                            <span class="hidden-xs"> 工具 </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-print"></i>打印
                                </a>
                            </li>
                            <li class="divider"> </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-pdf-o"></i>Execl导入
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fa fa-file-excel-o"></i> 导出到Execl
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>       
        <div class="table-container">
            <div class="table-actions-wrapper">
                <span> </span>
                <select class="table-group-action-input form-control input-inline input-small input-sm">
                    <option value="">Select...</option>
                    <option value="Cancel">Cancel</option>
                    <option value="Cancel">Hold</option>
                    <option value="Cancel">On Hold</option>
                    <option value="Close">Close</option>
                </select>
                <button class="btn btn-sm green table-group-action-submit">
                    <i class="fa fa-check"></i> Submit
                </button>
            </div>
            <table class="table table-striped table-bordered table-hover table-checkable" id="datatable_ajax">
                <thead>
                <tr role="row" class="heading">
                    <th width="2%">
                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                            <input type="checkbox" class="group-checkable" data-set="#sample_2 .checkboxes"/>
                            <span></span>
                        </label>
                    </th>
                    <th width="5%"> Record&nbsp;# </th>
                    <th width="15%"> Date </th>
                    <th width="200"> Customer </th>
                    <th width="10%"> Ship&nbsp;To </th>
                    <th width="10%"> Price </th>
                    <th width="10%"> Amount </th>
                    <th width="10%"> Status </th>
                    <th width="10%"> Actions </th>
                </tr>
                <tr role="row" class="filter">
                    <td> </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="order_id">
                    </td>
                    <td>
                        <div class="input-group date date-picker margin-bottom-5" data-date-format="dd/mm/yyyy">
                            <input type="text" class="form-control form-filter input-sm" readonly name="order_date_from" placeholder="From">
                            <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                        </div>
                        <div class="input-group date date-picker" data-date-format="dd/mm/yyyy">
                            <input type="text" class="form-control form-filter input-sm" readonly name="order_date_to" placeholder="To">
                            <span class="input-group-btn">
                                    <button class="btn btn-sm default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="order_customer_name">
                    </td>
                    <td>
                        <input type="text" class="form-control form-filter input-sm" name="order_ship_to">
                    </td>
                    <td>
                        <div class="margin-bottom-5">
                            <input type="text" class="form-control form-filter input-sm" name="order_price_from" placeholder="From"/>
                        </div>
                        <input type="text" class="form-control form-filter input-sm" name="order_price_to" placeholder="To"/>
                    </td>
                    <td>
                        <div class="margin-bottom-5">
                            <input type="text" class="form-control form-filter input-sm margin-bottom-5 clearfix" name="order_quantity_from" placeholder="From"/>
                        </div>
                        <input type="text" class="form-control form-filter input-sm" name="order_quantity_to" placeholder="To"/>
                    </td>
                    <td>
                        <select name="order_status" class="form-control form-filter input-sm">
                            <option value="">Select...</option>
                            <option value="pending">Pending</option>
                            <option value="closed">Closed</option>
                            <option value="hold">On Hold</option>
                            <option value="fraud">Fraud</option>
                        </select>
                    </td>
                    <td>
                        <div class="margin-bottom-5">
                            <button class="btn btn-sm green btn-outline filter-submit margin-bottom">
                                <i class="fa fa-search"></i> Search
                            </button>
                        </div>
                        <button class="btn btn-sm red btn-outline filter-cancel">
                            <i class="fa fa-times"></i> Reset
                        </button>
                    </td>
                </tr>
                </thead>
                <tbody> </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End: life time stats -->


