<!-- page heading start-->
<div class="page-heading">
    Page Tittle goes here
</div>
<!-- page heading end-->
<!--body wrapper start-->
<div class="wrapper">
    Body contents goes here
</div>
<!--body wrapper end-->
